<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding: 10px 0;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link home" routerLink = "/">Home</a>
        </li>
        <li class="nav-item" style="position: relative;">
          <a class="nav-link">Light: {{text}}</a>
          <div style="position: absolute; left: 90px; top: 5px">
              <ui-switch
                  (change)="onLight($event)"
                  defaultBgColor="red">
              </ui-switch>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (input) = "onSearch($event)">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <span class="fas fa-search" aria-hidden="true"></span> Search
        </button>
      </form>
    </div>
  </div>
</nav>
