<div class="container">
  <div class="row" style="margin-bottom: 20px">
      <h3 class="col-6" style="padding: 0 25px;">List Device</h3>
      <div class="col-6" style="padding: 0 30px">
          <a class="btn btn-primary pull-right" style="float: right" routerLink="/device/add">
              <span class="fas fa-plus" aria-hidden="true"></span> Add new Device
          </a>
      </div>
  </div>
  <table class="table">
    <thead>
      <tr style="text-align: center">
        <th scope="col">STT</th>
        <th scope="col">Device Name</th>
        <th scope="col">Description</th>
        <th scope="col">Operation</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody *ngFor="let device of devices; let i = index">
      <tr style="text-align: center">
        <th scope="row">{{i+1}}</th>
        <td>{{device.deviceName}}</td>
        <td>{{device.deviceDescription}}</td>
        <td></td>
        <td style="float: right">
          <a class="btn btn-primary" routerLink="/device/view/{{device._id}}">
            <span class="far fa-eye" aria-hidden="true"></span> View
          </a>
          <a class="btn btn-info" routerLink="/device/edit/{{device._id}}">
            <span class="fas fa-pen" aria-hidden="true"></span> Edit
          </a>
          <a class="btn btn-warning" data-toggle="modal" data-target="#deleteModal" style="color: white" (click)="deleteDevice(device)">
            <span class="fas fa-trash" aria-hidden="true"></span> Delete
          </a>

          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete this device?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="fas fa-times" aria-hidden="true"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete(choosedDevice)">
                        <span class="	fas fa-check" aria-hidden="true"></span> Confirm
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>

  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">

    <agm-marker
        [latitude]="lat"
        [longitude]="lng"
        [markerDraggable]="true">
    </agm-marker>

    <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle>

  </agm-map>

</div>
