<div class="container">
  <div>Device update</div>
  <form>
    <div class="form-group">
      <label for="InputDeviceName">Device Name</label>
      <input [(ngModel)]="device.deviceName" name="deviceName" type="text" class="form-control" id="InputDeviceName"
        placeholder="Tên thiết bị" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="InputDeviceDescription">Device Description</label>
      <input [(ngModel)]="device.deviceDescription" name="deviceDescription" type="text" class="form-control"
        id="InputDeviceDescription" placeholder="Mô tả" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="InputLocation">Location</label>
      <input [(ngModel)]="device.location" name="location" type="text" class="form-control" id="InputLocation"
        placeholder="Vị trí">
    </div>
    <div class="form-group">
      <label for="InputLatitude">Latitude</label>
      <input [(ngModel)]="device.latitude" name="latitude" type="number" class="form-control" id="InputLatitude"
        placeholder="Vĩ độ">
    </div>
    <div class="form-group">
      <label for="InputLongitude">Longitude</label>
      <input [(ngModel)]="device.longitude" name="longitude" type="number" class="form-control" id="InputLongitude"
        placeholder="Kinh độ">
    </div>

    <agm-map
      [latitude]="device.latitude"
      [longitude]="device.longitude"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">

      <agm-marker
          [latitude]="device.latitude"
          [longitude]="device.longitude"
          [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)">
      </agm-marker>

    </agm-map>

    <button type="submit" class="btn btn-primary" (click)="onUpdate()">Update</button>
    <button type="submit" class="btn btn-secondary" (click)="location.back()">Cancel</button>
  </form>
</div>
